.App {
  text-align: center;
  font-family: 'Arial';
}


.App-header {
  background-color: #1e2024;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-text {
  position: absolute;
  top: 0;
  line-break: loose;
}